# Extract Subsets from Reviews Data and Clean Up for Modeling and Labelling

In [2]:
!pip install langdetect # Library to detect language of review text
!pip install pyspark
!pip install spark-nlp==5.1.4

Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 981.5/981.5 kB 8.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from langdetect) (1.16.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993225 sha256=95a4596577bcdfadc683c9c8ccb2a07d29946b1051f98b45dde167b9e276cd59
  Stored in directory: /root/.cache/pip/wheels/95/03/7d/59ea870c70ce4e5a370638b5462a7711ab78fba2f655d05106
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.9
Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=e61a058e943994729c433dcbec0e80e4cf7d5eab7c01bbd7e3971d9bd38624af
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0
Collecting spark-nlp==5.1.4
  Downloading spark_nlp-5.1.4-py2.py3-none-any.whl (540 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 540.7/540.7 kB 8.3 MB/s eta 0:00:00
Installing collected packages: spark-nlp
Successfully installed spark-nlp-5.1.4

Import Required Libaries and Methods

In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql import functions as F
from pyspark.sql.functions import col, regexp_replace
from pyspark.ml import Pipeline
import sparknlp

Initiate SparkContext and SparkSession and Import Google Drive Module

In [4]:
# Create a SparkSession
spark=SparkSession.builder.appName('ENSF-612').getOrCreate()

# Check version of the Spark NLP library and Apache Spark being used in the
# current Spark session
print("Spark NLP version: {}".format(sparknlp.version()))
print("Apache Spark version: {}".format(spark.version))

Spark NLP version: 5.1.4
Apache Spark version: 3.5.0

In [5]:
# Imports the drive module from the google.colab library
from google.colab import drive

# Mounts your Google Drive into the Colab environment at the specified directory path /content/drive
drive.mount('/content/drive')

Mounted at /content/drive

Function to Convert CSV to DataFrame

In [6]:
# Method to convert CSV to pandas DataFrame
def csv_to_df(file_path):
    """
      Converts a CSV file to a pandas DataFrame

      Parameters:
         file_path: The path to the CSV file, to be converted into a DataFrame

      Return:
         df: The newly created pandas DataFrame
    """

    # File location and type
    # file_location = "/content/drive/My Drive/ENSF-612/project-files/" + fileName  # Combine the filename with the /Filestore/tables/ path in DataBricks
    file_type = "csv" # Specify that the file type is a CSV. Other file types will be ignored.

    # CSV options
    infer_schema = "true" # Infer schema automatically while reading the CSV
    first_row_is_header = "true" # Treat the first row as header
    delimiter = "," # Define the delimiter used in the CSV file

   # Read the CSV file into a DataFrame using Spark
   # Allowing multiline entries in the CSV
   # Specifying an escape character for CSV entries
    df = spark.read.format(file_type) \
         .option("inferSchema", infer_schema) \
         .option("header", first_row_is_header) \
         .option("sep", delimiter) \
         .option("multiline","True") \
         .option("escape","\"") \
         .load(file_path)

    # Return DataFrame
    return df

Load the reviews

In [7]:
# Load csv data and convert it to a DataFrame

fileName = "reviews.csv"
filePath = "/content/drive/My Drive/ENSF-612/project-files/" + fileName
entire_df = csv_to_df(filePath)

Take a subset of the reviews and inspect the data

In [8]:
# take a subset of ~100,000 reviews for less processing
sample_fraction = 0.1
reviews_df = entire_df.sample(fraction=sample_fraction, seed=42)
reviews_df.show()
reviews_df.count()

+----------+------------------+-----+-----------+--------------+----------------------------------+
|listing_id|                id| date|reviewer_id| reviewer_name|                          comments|
+----------+------------------+-----+-----------+--------------+----------------------------------+
|     13913|          11876590|41746|    5194009|    Alessandro|              Alina was a perfe...|
|     13913|         538005731|43737|    7253695|          Bart|              Alina is an amazi...|
|     13913|         543287825|43745|   28531625|        Philip|              Felt at home - Al...|
|     15400|            528262|40799|     969713|       Valerie|              Delightful, charm...|
|     15400|           1491714|41076|    2384243| José Henrique|              We've been travel...|
|     98541|           3289231|41280|    4000934|       Cameron|              This worked out v...|
|     98541|           5755533|41470|    6650608|           Jim|              We were a group o...|
|     15400|           3290846|41280|    1457643|     Alexander|              Philippa was a ve...|
|     15400|           8967459|41607|    9235247|     Dorothy B|              Wonderful locatio...|
|     15400|          15264060|41826|   11959525|       Michael|              Philippa’s little...|
|     15400|          23566366|41978|    2984861|           Roy|              A wonderful place...|
|     98541|          50967526|42293|   29696460|         Kosta|              The host canceled...|
|     98541|         102473733|42631|    8001658|        Olivia|              Alicja was helpfu...|
|     98541|         125183627|42739|   73931317|         Allan|              Everything was ni...|
|     98541|         298947993|43311|  187944705|         Ariel|              The host canceled...|
|     15400|          38136941|42198|    3321262|      Beth Ann|              We had a wonderfu...|
|    264779|         275084233|43261|   12061881|        Monica|              This is a great l...|
|    264779|450525034935998000|44452|  141477602|           Jai|              We stayed in the ...|
|    264779|669366217170349000|44754|  457185869|            Sk|숙소는 쾌적하고 호스트님도 친절...|
|     15400|         109100609|42662|   96743710|Carlos Roberto|              En general fue un...|
+----------+------------------+-----+-----------+--------------+----------------------------------+
only showing top 20 rows

105142

###Exploratory Data Analysis

In [9]:
# Get the number of rows
num_rows = reviews_df.count()

# Get the number of columns
num_columns = len(reviews_df.columns)

# Display the shape (number of rows and columns)
print("Number of rows: ", num_rows)
print("Number of columns: ", num_columns)

Number of rows:  105142
Number of columns:  6

In [10]:
# Count the original number of rows
original_count = reviews_df.count()

# Remove duplicates and count the remaining rows
distinct_count = reviews_df.dropDuplicates().count()

# Calculate the count of duplicate rows
duplicate_count = original_count - distinct_count

# Display the count of duplicate rows
print("Number of duplicate rows: ", duplicate_count)

Number of duplicate rows:  0

View column names

In [11]:
column_names = reviews_df.columns
print(column_names)

['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments']

Check for missing values

In [12]:
from pyspark.sql.functions import count, isnan, when

# Check for missing values in each column
reviews_df.select([count(when(isnan(c), c)).alias(c) for c in reviews_df.columns]).show()

+----------+---+----+-----------+-------------+--------+
|listing_id| id|date|reviewer_id|reviewer_name|comments|
+----------+---+----+-----------+-------------+--------+
|         0|  0|   0|          0|           10|       0|
+----------+---+----+-----------+-------------+--------+

There are no missing values in the columns that we care about, which are listing_id and comments

### Filtering Out Non-English Reviews

In [13]:
# Import the BooleanType class from the pyspark.sql.types module
from pyspark.sql.types import BooleanType
from pyspark.sql.functions import udf
from langdetect import detect # Import the detect method from the langdetect library


# Define a User Defined Function (UDF) named 'check_if_english'
@udf(returnType=BooleanType())
def check_if_english(text):
    """
        Takes text as input and returns a BooleanType indicating if the text is in English.

        Parameters:
            text: The string of text whose language is to be analyzed

        Returns:
            language: A boolean that is True if the language is in english.
    """
    try:
        # Attempt to detect the language of the 'text' using the 'detect' function from langdetect
        language = detect(text)
    except:
        # If an exception occurs (e.g., due to non-text input), set 'language' to "error".
        language = "error"
    # Return True if the detected language is English ('en'), otherwise return False.
    return language == 'en'

####Extract a subset of reviews for listings with >= 20 reviews
We do this because we will eventually take an average sentiment score for each listing

In [14]:
# Calculate the number of reviews for each listing
listing_counts = reviews_df.groupBy("listing_id").count()

# Filter listings with at least 20 reviews
popular_listings = listing_counts.filter(col("count") >= 20)

# Perform an inner join of the reviews DataFrame with the popular listings to
# get only the rows corresponding to listings with at least 20 reviews
df_with_counts = reviews_df.join(popular_listings, "listing_id", "inner")

Get the first 20 reviews for each listing with at least 20 reviews

In [15]:

# Use the 'check_if_english' UDF to filter reviews based on whether the 'comments' are in English.
english_reviews = df_with_counts.filter(check_if_english('comments'))

# Add a row number partitioned by listing_id and ordered by review id
window_spec = Window.partitionBy("listing_id").orderBy("id")

# Alias the count column to avoid naming conflicts
df_with_row_number = english_reviews.withColumn("review_num", F.count("id").over(window_spec).alias("review_num"))

# Here we need to only take the reviews for listings with >= 20 reviews
# Calculate the number of reviews for each listing
df_with_num_reviews = df_with_row_number.groupBy("listing_id").count().withColumnRenamed("count", "num_reviews").cache()

In [16]:
# Filter listings with at least 20 reviews
df_listings_with_20_english_reviews = df_with_num_reviews.filter(col("num_reviews") >= 20)

# limit the subset to 500 listings, therefore ~10,000 reviews
first_500_listings = df_listings_with_20_english_reviews.limit(500)

# Get the remaining listings with over 20 reviews, for extracting a subset for manual labelling
remaining_listings = df_listings_with_20_english_reviews.subtract(first_500_listings)

# perform an inner join to get the reviews
df_20_english_reviews = df_with_row_number.join(first_500_listings, "listing_id", "inner")
remaining_reviews = df_with_row_number.join(remaining_listings, "listing_id", "inner")


# Select the first 20 reviews for 750 popular listing (15,000 rows)
selected_reviews = df_20_english_reviews.filter(col("review_num") <= 20).limit(10000)
reviews_for_labeling = remaining_reviews.filter(col("review_num") <= 20).limit(1000)

In [17]:
# Cache the dataframes for future use
selected_reviews.cache()

DataFrame[listing_id: int, id: bigint, date: int, reviewer_id: int, reviewer_name: string, comments: string, count: bigint, review_num: bigint, num_reviews: bigint]

In [18]:
reviews_for_labeling.cache()
reviews_for_labeling.show(50)
reviews_for_labeling.count()

+----------+---------+-----+-----------+-------------+--------------------+-----+----------+-----------+
|listing_id|       id| date|reviewer_id|reviewer_name|            comments|count|review_num|num_reviews|
+----------+---------+-----+-----------+-------------+--------------------+-----+----------+-----------+
|     90700|   691142|40851|     157881|     Jennifer|We had a fantasti...|   42|         1|         38|
|     90700|  1297706|41047|    1579008|       Lauren|Great Host and ve...|   42|         2|         38|
|     90700|  1718326|41106|    2376989|      Rebecca|This was a great ...|   42|         3|         38|
|     90700|  2700334|41206|    3554326|        Adlan|This apartment is...|   42|         4|         38|
|     90700|  5255190|41446|     174904|     Agustina|Very nice apartme...|   42|         5|         38|
|     90700|  6105473|41485|    1965535|    Christina|Lovely location, ...|   42|         6|         38|
|     90700|  6554999|41503|    3863823|         Anne|we had wonderful ...|   42|         7|         38|
|     90700|  6767676|41510|    8126385|     Kayleigh|Good location, ri...|   42|         8|         38|
|     90700| 11657039|41740|   11239982|      Deborah|We found the flat...|   42|         9|         38|
|     90700| 11911124|41748|    7368606|       Lauren|Great location in...|   42|        10|         38|
|     90700| 19039463|41887|    1700335|         Rose|Chil welcomed me ...|   42|        11|         38|
|     90700| 20223905|41908|    2610455|        Robyn|What a great loca...|   42|        12|         38|
|     90700| 23706938|41981|    7278161|         Lars|We had a really n...|   42|        13|         38|
|     90700| 24086379|41992|   13144990|       Magali|We had a great ti...|   42|        14|         38|
|     90700| 24807168|42007|    9924196|         Nick|Great flat in a g...|   42|        15|         38|
|     90700| 28982012|42096|    4282920|       Emilia|Great location! C...|   42|        16|         38|
|     90700| 46261612|42256|   26354767|        Lacey|Chil was a wonder...|   42|        17|         38|
|     90700| 62982788|42419|    1779692|         Ryan|Chil was responsi...|   42|        18|         38|
|     90700| 65217486|42441|   46204524|      Janetta|The location of t...|   42|        19|         38|
|     90700| 82115856|42547|    1644593|     Mauricio|The place is grea...|   42|        20|         38|
|    244125|  3647990|41332|    4847087|        Fabio|It was great stay...|   28|         1|         25|
|    244125|  7279956|41531|    7026345|        Ahmed|The flat, the pla...|   28|         2|         25|
|    244125| 11343218|41729|    9433381|       Marcin|Great views, nice...|   28|         3|         25|
|    244125| 12414585|41760|   13785141|       Karine|First of all, we ...|   28|         4|         25|
|    244125| 18648948|41881|   15526153|        Peter|Claire was very f...|   28|         5|         25|
|    244125| 19918622|41902|   21434521|      Jessica|The reservation w...|   28|         6|         25|
|    244125| 21708469|41934|    9527158|         Matt|Clare's place was...|   28|         7|         25|
|    244125| 22721776|41955|   23381760|       Rachel|Despite being in ...|   28|         8|         25|
|    244125| 23954535|41988|    8788325|       Romain|Everything was pe...|   28|         9|         25|
|    244125| 25297403|42015|   10831496|         Luke|Claire's place is...|   28|        10|         25|
|    244125| 25420054|42019|   24375360|        Cliff|Nice apartment, g...|   28|        11|         25|
|    244125| 26302228|42044|    2142533|       Didier|Perfect area, nea...|   28|        12|         25|
|    244125| 37280389|42191|   24058013|      Marissa|An incredible apa...|   28|        13|         25|
|    244125|109402434|42664|   14537505|        Putri|Located in the hi...|   28|        14|         25|
|    244125|115905679|42701|   21294698|         Lina|We staid only for...|   28|        15|         25|
|    244125|148693926|42856|   10721394|          Ann|This place is a g...|   28|        16|         25|
|    244125|247373503|43187|    3998734|     Michelle|Claire is fabulou...|   28|        17|         25|
|    244125|335191664|43384|    4048211|     Patricia|Claire's place is...|   28|        18|         25|
|    244125|538020865|43737|   66254879|      Kathryn|Really gorgeous f...|   28|        19|         25|
|    244125|577424740|43814|   99490100|      Shannon|We had a great st...|   28|        20|         25|
|    280234|   986824|40978|    1312032|        Filiz|Helen was very he...|   38|         1|         31|
|    280234|  1222769|41032|     691917|      Kirsten|GREAT and central...|   38|         2|         31|
|    280234|  1687153|41101|    2838922|      Andreas|Small room, but g...|   38|         3|         31|
|    280234|  2592522|41194|    2772282|    Chaitanya|It would be diffi...|   38|         4|         31|
|    280234|  2731695|41209|    3747727|      Desmond|AMAZING HOST!!!\r...|   38|         5|         31|
|    280234|  3708818|41339|    5021261|      Li Ting|The location was ...|   38|         6|         31|
|    280234|  8328520|41573|    4970482|       Sophie|Great location.  ...|   38|         7|         31|
|    280234|  9294474|41627|    4105465| Michelangelo|I had a great sta...|   38|         8|         31|
|    280234| 10903073|41710|    2164468|      Clement|Great central loc...|   38|         9|         31|
|    280234| 12782571|41770|   13361556|       Mickey|The best part of ...|   38|        10|         31|
+----------+---------+-----+-----------+-------------+--------------------+-----+----------+-----------+
only showing top 50 rows

1000

In [19]:
# clear some cached dataframes from memory
# reviews_count_df.unpersist()
# listing_counts.unpersist()
df_with_num_reviews.unpersist()

DataFrame[listing_id: int, num_reviews: bigint]

In [20]:
reviews_for_labeling.count()

1000

In [21]:
# selected_reviews.count()

Check if any of the listings selected have fewer than 20 reviews

In [22]:
df_listings_for_labeling = reviews_for_labeling.groupBy("listing_id").count().withColumnRenamed("count", "total_reviews").orderBy("total_reviews", ascending=False)
df_listings_for_labeling.cache()
df_listings_for_labeling.show()
df_listings_for_labeling.count()

+----------+-------------+
|listing_id|total_reviews|
+----------+-------------+
|     90700|           20|
|    244125|           20|
|    280234|           20|
|    358360|           20|
|    375006|           20|
|    390319|           20|
|    390320|           20|
|    390356|           20|
|    390618|           20|
|    412652|           20|
|    436458|           20|
|    439489|           20|
|    454008|           20|
|    469187|           20|
|    523749|           20|
|    544824|           20|
|    583705|           20|
|    599058|           20|
|    620164|           20|
|    627123|           20|
+----------+-------------+
only showing top 20 rows

50

In [23]:
df_selected_listings = selected_reviews.groupBy("listing_id").count().withColumnRenamed("count", "total_reviews").orderBy("total_reviews", ascending=True)
df_selected_listings.cache()
# df_selected_listings.show()
# df_selected_listings.count()

DataFrame[listing_id: int, total_reviews: bigint]

In [24]:
# drop unneccessary pre-processing columns
columns_to_drop = ["count", "num_reviews"]
reviews_for_labeling = reviews_for_labeling.drop(*columns_to_drop)
selected_reviews = selected_reviews.drop(*columns_to_drop)

### Filter Out HTML Tags and punctuation in Reviews with regex
This is required for importing the data into Label Studio for manual labeling

In [25]:
def clean_reviews(df, original_column="comments"):
  html_pattern = "<.*?>"                 # replace with a single space
  multiple_spaces_pattern = "\\s+"       # replace multiple space with a single space
  comma_newline_pattern  = ",|\r\n?|\n"  # includes comma, carriage return, newline chars

  # intermediate column names
  no_html_tags_column = "comments_no_html"
  cleaned_column="comments_cleaned"

  # Apply the pattern to remove HTML tags
  df_no_html = df.withColumn(no_html_tags_column, regexp_replace(col(original_column), html_pattern, " "))

  # Apply the patterns to replace multiple spaces with a single space and commas/newline characters with an empty string
  df_cleaned = df_no_html.withColumn(cleaned_column, regexp_replace(regexp_replace(col(no_html_tags_column), multiple_spaces_pattern, " "), comma_newline_pattern, ""))

  # Drop temporary columns
  columns_to_drop = ["count", "num_reviews", original_column, no_html_tags_column]
  df_cleaned = df_cleaned.drop(*columns_to_drop)

  # Rename cleaned comments column back to original column name
  df_cleaned = df_cleaned.withColumnRenamed(cleaned_column, original_column)

  return df_cleaned

In [26]:
# apply cleaning function to dataframes
cleaned_reviews_for_labeling = clean_reviews(reviews_for_labeling)
cleaned_selected_reviews = clean_reviews(selected_reviews)

In [27]:
# Write the DataFrames to a CSV file
path = "/content/drive/MyDrive/ENSF-612/project-files/"
cleaned_reviews_for_labeling.write.csv(path + "temp_1000_reviews_for_labeling.csv", header=True, mode="overwrite")
cleaned_selected_reviews.write.csv(path + "temp_selected_10000_reviews.csv", header=True, mode="overwrite")